/**
 * @name BorderShapes
 * @version 1.0.0
 * @author JayWilson
 * @authorId 681203159158489243
 * @description Custom border shapes for elements.
 * @invite jT9p33F
**/

@import url(https://raw.githack.com/JayWilson7/BorderShapes/tree/master/Source);

:root {
   --border-radius-buttons-1: 5px; /*Border shape for group 1 buttons. 25px for circle, 0px for square.*/
   --border-radius-buttons-2: 2px; /*Border shape for group 2 buttons. 25px for circle, 0px for square.*/
   --border-radius-buttons-3: 25px; /*Border shape for group 3 buttons. 25px for circle, 0px for square.*/
   --border-radius-switches: 25px; /*Border shape for switches. 25px for circle, 0px for square.*/
   --border-radius-checkboxes: 3px; /*Border shape for checkboxes. 25px for circle, 0px for square.*/
   --border-radius-slider-bars: 5px; /*Border shape for slider bars. 5px for circle, 0px for square.*/
   --border-radius-slider-grabbers: 8px; /*Border shape for slider grabbers. 8px for circle, 0px for square.*/
   --border-radius-progress-bars: 5px; /*Border shape for progress bars. 5px for circle, 0px for square.*/
   --border-radius-inputs: 5px; /*Border shape for inputs. 25px for circle, 0px for square.*/
   --border-radius-contexts: 5px; /*Border shape for context menus. 25px for circle, 0px for square.*/
   --border-radius-popouts: 5px; /*Border shape for popouts. 25px for circle, 0px for square.*/
   --border-radius-modals: 5px; /*Border shape for modals. 25px for circle, 0px for square.*/
   --border-radius-servers: 50%; /*Border shape for servers. 50% for circle, 0% for square.*/
   --border-radius-server-badges: 10px; /*Border shape for server badges. 10px for circle, 0px for square.*/
   --border-radius-unreads: 5px; /*Border shape for unread badges. 5px for circle, 0px for square.*/
   --border-radius-avatars-small: 16px; /*Border shape for small avatars. 16px for circle, 0px for square.*/
   --border-radius-avatars-large: 50px; /*Border shape for large avatars. 50px for circle, 0px for square.*/
   --border-radius-banners: 5px; /*Border shape for banners and cards. 25px for circle, 0px for square.*/
   --border-radius-previews: 5px; /*Border shape for previews. 25px for circle, 0px for square.*/
   --border-radius-hypesquad: 50%; /*Border shape for HypeSquad icons in user settings. 50% for circle, 0% for square.*/
   --border-radius-icons-small: 2px; /*Border shape for small icons. 5px for circle, 0px for square.*/
   --border-radius-icons-large: 5px; /*Border shape for large icons. 25px for circle, 0px for square.*/
   --border-radius-images: 10px; /*Border shape for images previews. 25px for circle, 0px for square.*/
   --border-radius-videos: 15px; /*Border shape for videos previews. 25px for circle, 0px for square.*/
   --border-radius-audios: 5px; /*Border shape for audios previews. 25px for circle, 0px for square.*/
   --border-radius-gifs: 5px; /*Border shape for GIFs. 25px for circle, 0px for square.*/
   --border-radius-embeds: 0px; /*Border shape for embeds. 25px for circle, 0px for square.*/
   --border-radius-reactions: 3px; /*Border shape for reactions. 10px for circle, 0px for square.*/
   --border-radius-mentions: 2px; /*Border shape for mentions. 10px for circle, 0px for square.*/
   --border-radius-roles: 2px; /*Border shape for roles. 10px for circle, 0px for square.*/
   --border-radius-tags: 2px; /*Border shape for tags. 10px for circle, 0px for square.*/
   --border-radius-codes: 2px; /*Border shape for codes and codeblocks. 10px for circle, 0px for square.*/
   --border-radius-quotes: 2px; /*Border shape for quote icon. 2px for circle, 0px for square.*/
   --border-radius-search-highlights: 10px; /*Border shape for highlights in search results. 10px for circle, 0px for square.*/
   --border-radius-toasts: 5px; /*Border shape for toasts. 25px for circle, 0px for square.*/
   --border-radius-tooltips: 0px; /*Border shape for tooltips. 25px for circle, 0px for square.*/
   --border-radius-scrollbars: 10px; /*Border shape for scrollbars. 10px for circle, 0px for square.*/
   --border-radius-custom-css: 0px; /*Border shape for CustomCSS workspace. 25px for circle, 0px for square.*/
}